@import url("./reset.css");
html{
    scroll-behavior: smooth ;
}
body {
    font-family: 'Bitter', 'Times New Roman', 'Yuji Mai', 'Yuji Boku', 'Noto Sans TC', 'Noto Serif TC', serif;
    /* background-color: #000; */
    line-height: 1.6;

}

header {
    background-color: black;
    color: #CDD9E7;
    /* outline: 1px solid tomato; */
}

nav ul {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: white;
}

.mainNav li img {
    margin-left: 5px;
}

.mainNav {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 2.5em;
    padding: 20px;
}

.logo h2 {
    padding-left: 20px;
}

.logo .bearSit {
    margin-top: 18px;
    margin-left: -9px;
}

.mainNav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    font-size: 14px;
    margin-top: 30px;
    margin-right: 40px;
}

.mainNav ul li {
    font-size: 16px;
    height: 40px;
    width: 150px;
    text-align: center;
}

.mainNav ul li:hover a {
    font-size: 18px;
}

.topic {
    display: flex;
    justify-content: center;

}

.topic ul {
    display: flex;

    width: 60vw;
    margin-right: 20px;

    font-size: 20px;
    font-family: 'Times New Roman';
    padding-bottom: 50px;
}

/* ------banner------- */
.banner {
    background-color: black;
    /* margin: 0 auto; */
    /* width: 100vw; */



}


.wrapper {
    background-image: url('../img_compressed/img/banner_owl.jpg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 90vw;
    height: 550px;
    color: #CDD9E7;
    margin: 0 auto;
    /* outline:1px solid tomato; */
    overflow: hidden;



}

.mask {
    background: radial-gradient(circle at 55% 80%, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 1) 60%);
    width: 1000px;
    margin: 0 auto;
    height: 100%;
    animation: light 1.8s ease-out;

}

.maskIn1 {

    animation: light1 1.5s 1.9s linear forwards;
    opacity: 0;
}

.maskIn2 {

    animation: apear 2s 2.1s linear forwards;
    opacity: 0;
}

@keyframes light {
    100% {
        transform: scale(1);
        opacity: 1;

    }

    0% {
        transform: scale(1.1);


        opacity: .6;
    }


}

@keyframes light1 {
    100% {
        transform: scale(1);
        opacity: 1;

    }

    0% {
        transform: scale(2);
        /* transform: translateY(30vw); */
        opacity: 0;
    }
}

@keyframes apear {
    100% {

        opacity: .8;
    }

    80% {
        opacity: 0;
    }

    0% {

        opacity: 0;
    }
}


.wrapperDown {
    margin-top: -4vw;
    /* margin-left: -5px; */
    display: block;
    width: 100%;
}

.mask h1 {
    /* font-family: 'Times New Roman', Times, serif; */
    color: #D78D00;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 5px;
    padding: 10px;

}

.mask h2 {
    color: #D78D00;
    font-size: 64px;
    font-weight: bold;

}

.mask h2 span {
    font-size: 48px;
}

.logoText {
    display: flex;
    padding: 20px 40px;

}

.logoText img {
    width: 40px;
    margin-top: 25px;
    margin-left: -15px;
}

.mask p {
    font-size: 15px;
    letter-spacing: 5px;
    padding-left: 15px;
}

.mask span {
    color: #D78D00;
    font-size: 20px;
}

/* js picture animation */
.photoscroll {
    background-color: #111;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 33.3vh;
    margin: 0 auto;
    padding-bottom: 20vh;
}

.img_con {
    position: relative;
    overflow: hidden;
    height: 80vh;
    max-height: 500px;
    width: 100%;
}

.img_con img {
    position: absolute;
    width: 100%;
    height: 160%;
}

.img_con:nth-child(1) {
    grid-column: 1/-1;
    grid-row: 1;
    height: 95vh;
}

.img_con:nth-child(2) {
    grid-column: 5/-1;
    grid-row: 2;
    height: 95vh;
}

.img_con:nth-child(3) {
    grid-column: 2/10;
    grid-row: 3;
    height: 95vh;
}

.img_con:nth-child(4) {
    grid-column: 3/11;
    grid-row: 4;
    height: 95vh;

}

.img_con:nth-child(5) {
    grid-column: 3/-1;
    grid-row: 5;
    height: 95vh;

}

.img_con:nth-child(6) {
    grid-column: 7/12;
    grid-row: 6;
    height: 80vh;
    /* margin-bottom: 80px; */
}


.overlayu {
    background-color: #111;
    /* position: fixed; */
    display: none;
    height: 20vh;
    width: 100vw;
    /* outline: 1px solid tomato; */
    top: 0%;
}

.overlayd {
    background-color: #111;
    /* position: fixed; */
    display: none;

    height: 20vh;
    width: 100vw;
    /* outline: 1px solid tomato; */
    top: 80%;
}


/* -------Nature 2030--------- */
.nature2030 {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* outline: 1px solid tomato; */
    margin-top: 150px;
    color: #003479;
    margin-bottom: 300px;
    position: relative;
}

.nature2030 h1 {
    font-size: 36px;
    font-weight: 500;
    margin: 30px auto;
   
}

.nature2030 ul {
    display: flex;
    width: 75vw;
    justify-content: space-between;
    align-items: end;
}

.nature2030 .btn_modal {
    width: 10vw;
    background-color: #fff;
    border: none;
}

.nature2030 ul li button {
    font-family: 'Bitter';
    color: #003479;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;

}
.nature2030 ul li button img {
    scale: .8;
}

.nature2030 button:hover {
    transform: scale(1.2);
    border-bottom: 1px solid #003479;


}

.nature2030 button:hover img {
    /* border-bottom:1px solid #003479;
    padding-bottom: 3px; */
}

.lightbox {
    /*   border: 1px solid red; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, .5);
}

.none {
    display: none;
}

/* 元素 article 置中及基本樣式 */
.lightbox .section1 {
    background-color: #CDD9E7;
    width: 90%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ddd;
    /* padding: 10px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.lightbox .btn_modal_close {
    width: 30px;
    background: none;
    border: none;
    position: absolute;
    right: 10px;
    top: 10px;

}

.lightbox .btn_modal_close img {
    width: 20px;
}

.nature2030 a img {
    height: 60px;
    /* outline: 1px solid tomato; */
    margin: 10px;

}

.nature2030 .section1 {
    width: 70vw;
    height: 80vh;
    background-color: #CDD9E7;
    display: flex;
    margin: auto;

}

.nature2030 article .leftimage {
    width: 30vw;

    background-position: center bottom;
    background-size: cover;
    /* border-radius: 10px; */

}

.nature2030 .ocean1 .leftimage {
    background-image: url(../img_compressed/img/natureOcean.jpg);
}

.nature2030 .climate1 .leftimage {
    background-image: url(../img_compressed/img/natureClimate.jpg);
}

.nature2030 .land1 .leftimage {
    background-image: url(../img_compressed/img/natureLand.jpg);
}

.nature2030 .water1 .leftimage {
    background-image: url(../img_compressed/img/natureWater.jpg);
}

.nature2030 .aside {
    width: 40vw;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.nature2030 .aside h2 {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-top: 40px;
}

.nature2030 .aside p {
    color: black;
    font-size: 24px;
    text-align: justify;
    /* margin-bottom: 80px; */
    margin: 40px;
    font-family: serif;

}

.nature2030 a {
    /* padding: 10px; */
}

.nature2030 .more {
    line-height: 2;
    background-color: #9BBACE;
    width: 100px;
    border-radius: 25px;
    border: 2px solid #345764;
    text-align: center;
    color: #003479;
    font-size: 1rem;
    font-family: 'Yuji Mai';

}


.nature2030 .section {
    width: 70vw;
    height: 75vh;
    background-color: #CDD9E7;
    display: flex;
    margin-top: 50px;

}

.nature2030 .section li {

    height: 75vh;
}

.img1 {
    background-image: url('../img_compressed/img/natureLand.jpg');
    background-size: cover;
    background-position: center 60%;
    width: 25vw;
    height: 37.5vh;
}

.img2 {
    background-image: url('../img_compressed/img/natureWater.jpg');
    background-size: cover;
    background-position: center center;
    width: 25vw;
    height: 37.5vh;
}

.img3 {
    background-image: url('../img_compressed/img/natureOcean.jpg');
    background-size: cover;
    background-position: center center;

    max-width: 25vw;
    height: 37.5vh;

}

.img4 {
    background-image: url('../img_compressed/img/natureClimate.jpg');
    background-size: cover;
    background-position: center center;
    width: 25vw;
    height: 37.5vh;
}

.nature2030 .section li {
    display: flex;
    flex-direction: column;

}

.nature2030 .section li .imgU:hover {
    width: auto;
    height: 75vh;

    transition: .5s;
}

.nature2030 .section li .imgU:hover~.imgD {

    height: 0;
    transition: .5s;
}

.nature2030 .section li .imgD:hover~.imgU {

    width: 0;
    height: 0;
    transition: .5s;
}

.nature2030 .section li .imgD:hover {
    /* width: auto; */
    height: 100%;
    /* height: 1200vh; */
    transition: .5s;
}



.people {
    background-image: url('../img_compressed/img/nature2030People.png');
    width: 20vw;
    height: 100%;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;


}

.people:hover {
    transform: scale(1.1);
    transition: .5s;
}

.peopleContainer {
    overflow: hidden;
}

.frame {
    width: 90%;
    height: 93%;
    margin: auto;
    border: 1px solid white;

}

.nature2030 p {
    margin-top: 150px;
    text-align: center;
    line-height: 2;
}



/* -------Red List------- */
.redListOut {

    background-image: url('../img_compressed/img/nine_picture_frame.png');
    background-size: cover;
    width: 80vw;
    margin: 0 auto;
}

.redListName {
    color: #003479;
    font-size: 36px;
    font-weight: 500;
    width: auto;
    text-align: center;
    margin: 80px auto 80px;

}

.maskRedList {
    height: 600px;
    background-color: rgba(0, 0, 0, .4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.redListContent {
    background-color: #fff;
    width: 55vw;
    height: 60vh;
    display: flex;

    color: #003479;
    font-family: 'Noto sans TC';
}

.redListSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redListSection h1 {
    font-family: 'Times New Roman';
    font-size: 32px;
    font-weight: bold;
    margin-top: 30px;
}

.redListSection h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
    align-self: end;
    padding-right: 30px;
}

.redListSection h6 {
    font-family: 'Bitter';
    font-size: 24 px;
    margin-top: 10px;
    align-self: start;
    padding-left: 100px;
}

.redListSection p {
    font-family: 'Noto sans TC';
    font-size: 24 px;
    font-weight: 500;
    margin-top: 10px;
    align-self: start;
    padding-left: 100px;

}

.redListSection span {

    font-size: 40 px;

    /* outline: 1px solid tomato; */

}


.redListContent img {
    width: 20vw;
    display: block;
}

.redlistTotal {
    display: flex;
    width: 60vw;
    margin: 100px auto;

    color: #037FB2;
}


.redlistTotal section {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-left: 50px;
    width: 30vw;
}


/* color: linear-gradient(90deg, rgba(3, 127, 178, 0.67) 22.51%, #003479 104.7%); */

.redlistTotal h3 {
    font-size: 24px;
}

.redlistTotal h6 {
    margin-bottom: 30px;
}

section img {
    width: 20vw;
}

.redlistTotal>img {

    width: 30vw;
}

/* -------about us--------- */
.world1 {
    position: relative;
}

.wolf {
    position: absolute;
    top: 30px;
    left: 50px;
    width: 10%;
    display: block;
}

.aboutUs {
    width: 100%;

    background-color: #003479;

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* outline: 1px solid tomato; */

    color: #003479;
    position: relative;
    padding-bottom: 80px;
}


.border_mountain1_up {
    width: 100%;
    display: block;
    margin: -5px 0;
}


.aboutUs h1 {
    font-size: 36px;
    font-weight: 500;
    margin: 30px auto;
    font-weight: 500;
    color: white;


}

.aboutUs>span {
    border: 1px dashed #9BBACE;
    width: 90%;
}



.logoCircle {
    display: block;
    width: 35vw;
    /* outline: 1px solid tomato; */
    margin: auto;
}



.logoDark img {
    width: 20vw;
    display: block;
    /* outline: 1px solid tomato; */
    margin: -5vw auto 0;

}
.logoDark .smile{
    display: block;
}
.logoDark .angry{
    display: none;
}
.logoDark:hover .angry{
    display: block;
}
.logoDark:hover .smile{
    display: none;
}

.aboutUs .section {
    width: 80vw;


    display: flex;

    margin-top: 50px;

}



.aboutUs .aside {
    width: 40vw;
    margin: 20vh auto;

}

.aboutUs .aside p {
    font-size: 20px;
    font-weight: 500;
    /* text-align: center; */
    margin-top: 20px;
    color: white;
    letter-spacing: 5px;
    line-height: 2;
    margin-left: 20%;


}

.meet {

    font-size: 28px;
    text-align: center;
    margin-bottom: 80px;
}

/* ------video------ */
.video {
    color: white;

    display: flex;
    align-items: start;
    justify-content: space-around;
    width: 80vw;
    letter-spacing: 5px;
    line-height: 2;

}

.video ul {
    /* text-align: center; */
    font-size: 20px;
    margin-right: 30px;
    width: 40%;
    margin-top: 5%;

}

.video ul li a:hover{
    color: #037FB2;
}

.videoSit .smile{
    display: block;
}
.videoSit .angry{
    display: none;
}
.videoSit:hover .angry{
    display: block;
}
.videoSit:hover .smile{
    display: none;
}

.videoMask {
    position: absolute;
    /* bottom: 6vw; */
    /* left: 10%; */

    background: radial-gradient(ellipse at 60% 45%, rgba(0, 0, 0, 0) 0, rgba(0, 52, 121, 1) 60%);
    width: 100%;
    height: 120vh;
    /* outline: 1px solid tomato; */
    /* border-radius: 50% 50% 50% 50%; */


}


.videoMask h1 {
    width: 32px;
    color: #fff;
    font-size: 32px;
    margin-left: 20vw;
    margin-top: 5vw;
    letter-spacing: 5px;
    display: inline-block;

    animation: scale 0.8s;
}

.videoMask p {
    width: 32px;
    color: #fff;
    font-size: 32px;
    margin-left: 2vw;
    letter-spacing: 5px;
    display: inline-block;

    opacity: 0;

    animation: scale 0.5s 0.4s forwards;
}

@keyframes scale {
    100% {
        transform: scale(1);
        opacity: 1;

    }

    0% {
        transform: scale(2);
        /* transform: translateY(30vw); */
        opacity: 0;
    }
}

/* ------aside optiom---- */
.bearFoot {
    min-width: 250px;
    min-height: 200px;
    /* outline:1px solid tomato; */
    /* background-color: red; */
    position: fixed;
    bottom: 20px;
    right: 0px;
}


.bearFoot img {
    position: fixed;
    right: 1vw;
    bottom: 2vw;
    width: 60px;
    display: block;
}

.bearPaw {
    font-size: 10px;
    color: #003479;
    font-size: 20px;
    display: none;
    /* outline: 1px solid red; */
}

.bearPaw1 {
    background-image: url('../img_compressed/svg/bearpaw/bear_paw_1.svg');
    background-repeat: no-repeat;
    background-size: cotain;
    /* outline: 1px solid tomato; */
    position: fixed;
    right: 170px;
    bottom: 110px;
    height: 90px;
    width: 41px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.bearPaw1 .simple {
    position: absolute;
    bottom: 14px;
    left: 16px;
}

.bearPaw2 {
    background-image: url('../img_compressed/svg/bearpaw/bear_paw_2.svg');
    background-repeat: no-repeat;
    background-size: cotain;
    /* outline: 1px solid tomato; */
    position: fixed;
    right: 125px;
    bottom: 140px;
    height: 65px;
    width: 33px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.bearPaw2 .simple {
    position: absolute;
    bottom: 5px;
    left: 8px;
}

.bearPaw3 {
    background-image: url('../img_compressed/svg/bearpaw/bear_paw_3.svg');
    background-repeat: no-repeat;
    background-size: cotain;
    /* outline: 1px solid tomato; */
    position: fixed;
    right: 78px;
    bottom: 150px;
    height: 71px;
    width: 33px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.bearPaw3 .simple {
    position: absolute;
    bottom: 7px;
    left: 12px;
}

.bearPaw4 {
    background-image: url('../img_compressed/svg/bearpaw/bear_paw_4.svg');
    background-repeat: no-repeat;
    background-size: cotain;
    /* outline: 1px solid tomato; */
    position: fixed;
    right: 35px;
    bottom: 138px;
    height: 76px;
    width: 33px;


}

.bearPaw4 .simple {
    position: absolute;
    bottom: 10px;
    left: 9px;
}

.bearPaw5 {
    background-image: url('../img_compressed/svg/bearpaw/bear_paw_5.svg');
    background-repeat: no-repeat;
    background-size: cotain;
    /* outline: 1px solid tomato; */
    position: fixed;
    right: 1px;
    bottom: 114px;
    height: 60px;
    width: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bearPaw5 .simple {
    position: absolute;
    bottom: 6px;
    left: 9px;
}


.paw {
    background-image: url('../img_compressed/svg/bearpaw/bear_paw.svg');
    background-repeat: no-repeat;
    background-size: cotain;
    /* outline: 1px solid tomato; */
    position: fixed;
    right: 1vw;
    bottom: 1vw;
    width: 170px;
    height: 120px;


}



.bearFoot:hover .bearPaw {
    display: block;
}

.show {
    color: white;
    /* outline:1px solid tomato; */
    position: fixed;
    right: 60px;
    bottom: 50px;
    display: none;
    text-align: center;
    width: 80px;



}

.simple {
    color: white;
    /* outline:1px solid tomato; */

}

.bearPaw p:hover~.show {
    display: block;
}

/* ---------footer------- */
footer {
    background-color: #000;
    color: white;
    font-family: 'Noto sans TC';
    padding: 50px;
    margin-top: 200px;
}

.long {
    margin: 0 auto;
    padding-top: 30px;
    border-bottom: 1px solid white;
    width: 80vw;
    height: 2px;
    display: block;
    margin-bottom: 40px;
}

footer>ul {
    display: flex;
    justify-content: space-between;
    width: 70vw;
    margin-left: 16vw;

}

footer>ul>li {
    flex-grow: 1;
    /* outline: 1px solid tomato; */


}

footer ul li ul {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

footer ul li ul li {
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 2;
}

footer ul li ul li:hover {
    color: #037FB2;
}
footer ul li ul li a:hover {
    color: #037FB2;
}

footer p {
    font-size: 10px;
    text-align: center;
    margin-top: 40px;
}


.short {
    margin: 0 auto 20px;
    padding-top: 60px;
    border-bottom: 1px solid white;
    /* width: 15vw; */
    height: 2px;
    display: block;
}

footer h2 {
    margin-bottom: 10px;
}

.icons {
    display: flex;
    flex-direction: row;
}

.icons li {
    margin-right: 10px;
}
.icons li a:hover i{
    color: #037FB2;
}

i {
    color: white;
    /* outline: 1px solid tomato; */
    height: 56px;
    font-size: 28px;
}

/* -----news------ */
.news h1 {
    text-align: center;
    margin-top: 20%;
    margin-bottom: 40px;
    
}
.news hr{
    width: 90%;
    margin-bottom: 50px;
    border: 1px dashed white;
}

.news ul {
    width: 75%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
}

.news ul li {
    width: 21vw;
    height: 55vh;
    margin-bottom: 70px;

}

.container {
    color: aliceblue;
    background-color: rgba(0, 31, 66, 0.6);
    width: 100%;
    height: 100%;

    display: none;
}

.news ul li:hover .container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.container h3 {
    width: 80%;
    font-size: 20px;
    letter-spacing: 3px;
}

.container h4 {
    font-size: 20px;
    line-height: 2;
    height: 40%;
}

.container a {
    align-self: end;
    margin-right: 10%;
}

.bg1 {
    background-image: url('../img_compressed/img/bearTw.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg2 {
    background-image: url('../img_compressed/img/polarbear1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.bg3 {
    background-image: url('../img_compressed/img/dudu.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.bg4 {
    background-image: url('../img_compressed/img/sea_turtle_plastic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.bg5 {
    background-image: url('../img_compressed/img/pologolic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.bg6 {
    background-image: url('../img_compressed/img/elephant_forest.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.bg7 {
    background-image: url('../img_compressed/img/whale_swim.jpg');

    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25% center;
}


.fixed {
    background-image: url('../img_compressed/svg/bear_foot_small.svg');
    background-size: cover;
    position: fixed;
    bottom: 5vh;
    right: 1vw;
    color: #9BBACE;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: end;
    /* outline:1px solid tomato; */


}

.fixed a {
    display: block;
    text-decoration: none;
    /* outline:1px solid tomato; */
    width: 60px;
    height: 60px;
    padding-bottom: 8px;
    display: flex;
    align-items: end;
    justify-content: center;




}

.fixed a h2 {

    font-weight: 500;
    color: #9BBACE;


}

.fixed:hover {


    transform: scale(1.5);



}

/* -----cursor----- */
#cursor{
    position: fixed;
    width: 30px;
}

   
   
.slideshow{
    margin: auto;
position: relative;
overflow: hidden;
height: 440px;
width: 710px;
}


.slideshow img{
   position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: none ;
    width: 100%;
}


/* ------count number------ */
.count{
    display: flex;
}

.value {
    font-size: 5rem;
    background-image: linear-gradient(90deg, #56A9CB 20%, #0B4585 100%); /* 設定漸層角度及顏色 */
  -webkit-background-clip: text; /* 背景裁剪成文字的前景色 */
  background-clip: text;
  color: transparent;
  font-weight: 700;
}
.count span{
    font-weight: 500;
}

.goTop {
    position: fixed;
    right: 10px;
    bottom: 10px;
    
  }
  .goTopBtn {
      background-color: navy;
      border: none;
      outline: none;
      cursor: pointer;
      
    }
   

    /* -----hamburger------ */
    .hamburger{
        height: 20px;
        position: fixed;
        right: 40px;
        top: 20px;
        display: none;
    }
    .hamburger span{

        border-bottom: 2px solid #003479;
        width: 30px;
    }
    .ham1{
        position: absolute;
        top: 0;
    }
    .ham2{
        position: absolute;
        top: 10px;
    }
    .ham3{
        position: absolute;
        top: 20px;
    }

    