@import url("./reset.css");

body {
    font-family: 'Bitter', 'Times New Roman', 'Yuji Mai', 'Yuji Boku', 'Noto Sans TC', 'Noto Serif TC', serif;

    line-height: 1.6;

}

header {
    color: #003479;
    /* outline: 1px solid tomato; */
}

nav ul {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #003479;
}

.mainNav li img {
    margin-left: 5px;
}

.mainNav {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 2.5em;
    padding: 20px;
}

.logoBear {
    width: 70px;
}

.logo h2 {
    padding-left: 20px;
}

.logo .bearSit {
    margin-top: 18px;
    margin-left: -9px;
}

.mainNav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
    font-size: 16px;
    margin-top: 30px;
    margin-right: 20px;
}




/* -------Nature 2030--------- */
.nature2030 {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* outline: 1px solid tomato; */
    margin-top: 100px;
    color: #003479;
    margin-bottom: 300px;
}

.nature2030 h1 {
    font-size: 64px;
    font-weight: 700;
    margin: 30px auto 0;

}

.nature2030 h2 {
    color: black;
    margin-bottom: 20px;
    letter-spacing: 2px;

}

.nature2030 ul {
    display: flex;
    width: 70vw;
    justify-content: space-between;
}

.nature2030 a {
    color: #003479;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.nature2030 a img {
    height: 60px;
    /* outline: 1px solid tomato; */
    margin: 10px;

}

.nature2030 .section {
    width: 70vw;
    height: 75vh;
    background-color: #CDD9E7;
    display: flex;
    margin-top: 50px;

}

.nature2030 .section li {

    height: 75vh;
}

.img1 {
    background-image: url('../img_compressed/img/natureLand.jpg');
    background-size: cover;
    background-position: center 60%;
    width: 25vw;
    height: 37.5vh;
}

.img2 {
    background-image: url('../img_compressed/img/natureWater.jpg');
    background-size: cover;
    background-position: center center;
    width: 25vw;
    height: 37.5vh;
}

.img3 {
    background-image: url('../img_compressed/img/natureOcean.jpg');
    background-size: cover;
    background-position: center center;

    max-width: 25vw;
    height: 37.5vh;

}

.img4 {
    background-image: url('../img_compressed/img/natureClimate.jpg');
    background-size: cover;
    background-position: center center;
    width: 25vw;
    height: 37.5vh;
}

.nature2030 .section li {
    display: flex;
    flex-direction: column;

}

.nature2030 .section li .imgU:hover {
    width: auto;
    height: 75vh;

    transition: .5s;
}

.nature2030 .section li .imgU:hover~.imgD {

    height: 0;
    transition: .5s;
}

.nature2030 .section li .imgD:hover~.imgU {

    width: 0;
    height: 0;
    transition: .5s;
}

.nature2030 .section li .imgD:hover {
    /* width: auto; */
    height: 100%;
    /* height: 1200vh; */
    transition: .5s;
}



.people {
    background-image: url('../img_compressed/img/nature2030People.png');
    width: 20vw;
    height: 100%;
    display: flex;
    align-items: center;


}

.frame {
    width: 90%;
    height: 93%;
    margin: auto;
    border: 1px solid white;
}

.nature2030 p {
    margin-top: 150px;
    text-align: center;
    line-height: 2;
}




/* -------main------- */
.main h1 {
    text-align: center;
    font-size: 40px;
    margin: 100px 0;
    color: #003479;
    font-weight: 500;

}

.world1 {
    position: relative;
}

.whale {
    position: absolute;
    left: 60vw;
    top: -5vh;
}

.whale img {
    width: 15vw;
}

.wave {
    position: absolute;

    left: 18vw;
    top: -14vh;
}

.wave img {
    width: 15vw;
}

.aboutUs {
    width: 100%;

    background-color: #CDD9E7;

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* outline: 1px solid tomato; */

    color: #003479;
}


.border_mountain1_up {
    width: 100%;
    display: block;
    margin: -5px 0;
}


.aboutUs h1 {
    font-size: 28px;
    font-weight: 500;
    margin: 50px auto;
    font-weight: 500;
    color: #003479;
    width: 60vw;



}

.aboutUs>span {
    border: 1px solid #9BBACE;
    width: 80%;
}







.aboutUs .section {
    width: 80vw;


    display: flex;
    justify-content: space-between;

    margin-top: 50px;

}

.mainOcean .section p {
    margin-top: 20px;
}

.section p {
    width: 40vw;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    /* margin-top: 20px; */
    text-align: justify;
    letter-spacing: 5px;
    line-height: 2;

    color: #475B7F;



}

.intro {
    font-size: 28px;
    text-align: center;
    margin-bottom: 80px;

    color: #475B7F;
}

.asideImg {
    background-image: url(../img_compressed/img/whale_out_of_sea.jpg);
    background-size: cover;
    background-position: center center;
    width: 35vw;
    /* border-radius: 20px; */

}

.aboutUs h2 {
    margin-top: 70px;
    font-size: 36px;
}

.ambition {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 60vw;
    line-height: 2;
}

.ambition p {
    font-size: 20px;
    margin-bottom: 20px;
}

.ambition li {
    display: flex;
    line-height: 2.5;
    font-size: 18px;

}

.bearFootSmall {
    align-self: self-end;
    margin-right: 10px;
}


/* -----climate----- */
.mainClimate .aboutUs {
    background-color: #9BBACE;
   
}
.mainClimate .aboutUs h1{
    margin: 0;
}

.eagle {
    position: absolute;
    left: 30vw;
    top: -15vh;
}

.eagle img {
    width: 5vw;
}

.moutain1 {
    position: absolute;

    right: 18vw;
    top: -20vh;
}

.moutain1 img {
    width: 15vw;
}

.mainClimate .aboutUs span {
    color: #003479;
    border: 1px solid #9BBACE;
    width: 80%;
}



.mainClimate .section p {
    color: #003479;

}


.mainClimate .asideImg {
    background-image: url('../img_compressed/img/polarbear.jpg');
}

/* -----people----- */
.mainPeople >h1{
    margin-bottom: 30vh;
}
.mainPeople .aboutUs {
    background-color: #849EA5;
    padding-top: 40px;
    color:black;
    
   
}
.mainPeople h1 {
    
    color:black;
    
   
}

.squirrel {
    position: absolute;
    left: 60vw;
    top: -15vh;
}

.squirrel img {
    width: 12vw;
}

.people1 {
    position: absolute;

    right: 43vw;
    top: -24vh;
}

.people1 img {
    width: 13vw;
}

.mainPeople .aboutUs span {
    color: black;
    /* border: 1px solid #9BBACE; */
    width: 80%;
}



.mainPeople .section p {
    color: black;

}


.mainPeople .asideImg {
    background-image: url('../img_compressed/img/nature2030People.png');
}


/* -----land----- */
.mainLand .aboutUs {
    background-color: #345764;
   
}
.mainLand .aboutUs h1 {
    color: #849EA5;
    
   margin: 0;
}
.mainLand .aboutUs h2 {
    color: #849EA5;
   
}


.bearSit {
    position: absolute;
   right: 20vw;
    top: 1vh;
}

.bearSit img {
    width: 10vw;
}

.land1 {
    position: absolute;

    right: 57vw;
   
}

.land1 img {
    width: 15vw;
}

.mainLand .aboutUs span {
    color: #849EA5;
    border: 1px solid #9BBACE;
    width: 80%;
    margin: 0;
    border: none;
}



.mainLand .section p {
    color: #849EA5;

}
.mainLand .ambition{
    color: #849EA5;
}


.mainLand .asideImg {
    background-image: url('../img_compressed/img/natureLand.jpg');
}

/* -----water----- */
.mainWater .aboutUs {
    background-color: #475B7F;
   
}
.mainWater .aboutUs h1 {
    color: #CDD9E7;
    
   margin: 0;
}
.mainWater .aboutUs h2 {
    color: #CDD9E7;
   
}


.crock {
    position: absolute;
   right: 20vw;
    top: 4vh;
}

.crock img {
    width: 10vw;
}

.river {
    position: absolute;
left: 50vw;
    top: -10vh;
   
}

.river img {
    width: 3vw;
}

.mainWater .aboutUs span {
    color: #CDD9E7;
    border: 1px solid #9BBACE;
    width: 80%;
    margin: 0;
    border: none;
}



.mainWater .section p {
    color: #CDD9E7;

}
.mainWater .ambition{
    color: #CDD9E7;
}


.mainWater .asideImg {
    background-image: url('../img_compressed/img/natureWater.jpg');
}

/* ------aside optiom---- */

.bearFoot img {
    position: fixed;
    right: 1vw;
    bottom: 2vw;
    width: 60px;
}

/* ---------footer------- */
footer {
    background-color: #000;
    color: white;
    font-family: 'Noto sans TC';
    padding: 50px;
    margin-top: 200px;
}

.long {
    margin: 0 auto;
    padding-top: 30px;
    border-bottom: 1px solid white;
    width: 80vw;
    height: 2px;
    display: block;
    margin-bottom: 40px;
}

footer>ul {
    display: flex;
    justify-content: space-between;
    width: 70vw;
    margin-left: 16vw;

}

footer>ul>li {
    flex-grow: 1;
    /* outline: 1px solid tomato; */


}

footer ul li ul {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

footer ul li ul li {
    font-size: 12px;
    letter-spacing: 2px;
}


.short {
    margin: 0 auto 20px;
    padding-top: 60px;
    border-bottom: 1px solid white;
    /* width: 15vw; */
    height: 2px;
    display: block;
}

footer h2 {
    margin-bottom: 10px;
}

.icons {
    display: flex;
    flex-direction: row;
}

.icons li {
    margin-right: 10px;
}

i {
    color: white;
    /* outline: 1px solid tomato; */
    height: 56px;
    font-size: 28px;
}